h1 > span{
    color : red;
}

.infos a {
    color: orangered;
}

.infos a:hover {
    color: #b10000;
    text-decoration: underline;
    transition: color 0.3s , underline 0.3s;
}

li > span {
    color: red;
}

li > span:hover {
    text-decoration: underline;
}

img {
    margin: -3% 20%;
    display: block;
    height: 40%;
    width: auto;
}

strong > span{
    color: orangered;
}
